*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Potta One', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Press Start 2P', cursive;
}

header {
    padding: 16px 0;
    background-color: #48d69e;
    color:  #fbf7dc;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #fbf7dc;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list{
    margin-top: 50px;
}

.brands-list img {
    height: 32px;
}

.brands-list li {
    display: inline;
    margin-left: 150px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #182C61;
}

section h2 {
    margin-bottom: 16px;
}


section p {
    margin-bottom: 8px;
}

.banner {
    height: 550px;
    margin-right: 50px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#favorite,
#about{
    background-color: #b2e1d1;
}

#favorite .container {
    display: block;
}

.favorite-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #48d69e;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #767549;
}

input:focus, textarea:focus {
    outline-color: #48d69e;
}

footer {
    background-color: #48d69e;
    color: #fbf7dc;
    padding: 16px 0;
}